<div class="container">
  <div class="col-sm-12">
    <h2>Robots!</h2>
  </div>
  <h3><strong>Average Age: </strong> <%= @average_age %></h3>
  <a href="/robots">Robots Directory</a>
  <br>
  <a href="/robots/new">Add New Robot</a>

</div>
