<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <form action="/robots" method="post">
      <h4 class="text-center">Create a New Robot!</h4>
      <div class="form-group">

          <label for="robot-name">Name</label>
          <input class="form-control" type='text' name='robot[name]' id="robot-name"/><br>

          <label for="robot-city">City</label>
          <input class="form-control" id="robot-city" name='robot[city]'><br>

          <label for="robot-state">State</label>
          <input class="form-control" id="robot-state" name='robot[state]'><br>

          <label for="robot-birthdate">Birthdate (MM/DD/YYYY)</label>
          <input class="form-control" id="robot-birthdate" name='robot[birthdate]'><br>

          <label for="robot-date-hired">Date Hired (MM/DD/YYYY)</label>
          <input class="form-control" id="robot-date-hired" name='robot[date_hired]'><br>

          <label for="robot-department">Department</label>
          <input class="form-control" id="robot-department" name='robot[department]'><br>

          <input class="btn btn-defualt pull-right" value="Submit" type='submit'/>
      </div>
    </form>

  </div>
</div>
